{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='logins.css') }}">
<div class="login-box">
    <h2>User Login</h2>
    <form method="post">
        <div class="inputbox">
            <!-- <img src="{{ url_for('static', filename='user.png') }}" alt="User Icon"> -->
            <input type="email" name="email" required>
            <label>Email</label>
        </div>

        <div class="inputbox">
            <!-- <img src="{{ url_for('static', filename='lock.png') }}" alt="Lock Icon"> -->
            <input type="password" name="password" required>
            <label>Password</label>
        </div>

        <button type="submit">Login</button>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <small>{{ message }}</small>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="register">
            <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a></p>
        </div>
    </form>
</div>
{% endblock %}
