body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
}

input[type="text"] {
    padding: 5px;
    width: 300px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    margin-bottom: 5px;
}